body{
    text-align: center;
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10%;
    border: 6px solid black;
}
.orange{
    background-color: orange;
}
.red{
    background-color: rgb(222, 45, 127);
}
.blue{
    background-color: rgb(3, 126, 208);
}
.green{
    background-color: rgb(41, 200, 200);
}
.flash{
    background-color: #fff;
}
.userFlash{
    background-color: green;
}